# Allow non-root users start Codex builds and manage service with sudo.

# {{ nim_codex_service_name }}
%{{ nim_codex_group }} ALL= NOPASSWD: /usr/bin/systemctl *status {{ nim_codex_service_name }}*
%{{ nim_codex_group }} ALL= NOPASSWD: /usr/bin/systemctl *start {{ nim_codex_service_name }}*
%{{ nim_codex_group }} ALL= NOPASSWD: /usr/bin/systemctl *stop {{ nim_codex_service_name }}*
%{{ nim_codex_group }} ALL= NOPASSWD: /usr/bin/systemctl *restart {{ nim_codex_service_name }}*
# build-{{ nim_codex_service_name }}
%{{ nim_codex_group }} ALL= NOPASSWD: /usr/bin/systemctl *status build-{{ nim_codex_service_name }}*
%{{ nim_codex_group }} ALL= NOPASSWD: /usr/bin/systemctl *start build-{{ nim_codex_service_name }}*
%{{ nim_codex_group }} ALL= NOPASSWD: /usr/bin/systemctl *stop build-{{ nim_codex_service_name }}*
%{{ nim_codex_group }} ALL= NOPASSWD: /usr/bin/systemctl *restart build-{{ nim_codex_service_name }}*
