[Unit]
Description=Codex ({{ nim_codex_repo_branch }})
Documentation=https://github.com/status-im/nim-dagger/
Requires=network-online.target
After=network-online.target

[Service]
User={{ nim_codex_user }}
Group={{ nim_codex_group }}
WorkingDirectory={{ nim_codex_service_path }}
SyslogIdentifier={{ nim_codex_service_name }}
SyslogFacility=local6
SyslogLevel=debug
Restart=on-failure
ExecStart={{ nim_codex_repo_path }}/build/nim_codex \
    --log-level={{ nim_codex_log_level }} \
    --data-dir={{ nim_codex_data_folder }} \
    --udp-port={{ nim_codex_discovery_port }} \
    --listen-ip={{ nim_codex_public_address }} \
    --listen-port={{ nim_codex_listening_port }} \
    --api-port={{ nim_codex_rest_port }} \
    --max-peers={{ nim_codex_max_peers }} \
    --cache-size={{ nim_codex_cache_size }} \

[Install]
WantedBy=multi-user.target
